@model IEnumerable<Group1_PRN222.Models.Address>

@{
    ViewData["Title"] = "Addresses";
}



<p>
    <a asp-action="Create" class="btn btn-primary">Tạo địa chỉ mới</a>
</p>
<form asp-action="SetDefault" method="post">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Họ và tên</th>
                <th>Số diện thoại</th>
                <th>Đường</th>
                <th>Thành phố</th>
                <th>Tỉnh</th>
                <th>Quốc gia</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="radio" name="DefaultAddressId" value="@item.Id" @(item.IsDefault ? "checked" : "") />
                    </td>
                    <td>@item.FullName</td>
                    <td>@item.Phone</td>
                    <td>@item.Street</td>
                    <td>@item.City</td>
                    <td>@item.State</td>
                    <td>@item.Country</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Cập nhật</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Chi tiết</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-success">Đặt mặc định</button>
</form>